@model Domain.EyeControl.EyeControl

@{
    ViewData["Title"] = "Create";
}




@{
    ViewData["Title"] = "Index";
}

@section Styles
{<link rel="stylesheet" href="css/eyeTests.css"/>}

<section
    class="d-block mt-2 section section-1 m-lg-5 m-xs-2 m-sm-2 m-md-4 mt-sm-2 mt-xs-2 justify-content-center">
    <div class="card card--eyetest mt-xs-5 mt-sm-5">
        <img
            src="https://images.unsplash.com/photo-1517948430535-1e2469d314fe?ixlib=rb-1.2.1&auto=format&fit=crop&w=2250&q=80"
            class="card-img-top"
            alt="Eye test"/>
        <div class="card-body">
            <div class="wrapper text-center">
                <h5 class="card-title">Kontrolli oma nägemist selle testiga kiirelt ja lihtsalt</h5>
                <p class="card-text">
                    Esiteks tuleb testi sooritamiseks kinni katta oma vasak silm
                    ning valida pakutud sümbolitest, millist sümbolit ekraanil näed.
                    Seejärel tuleb test sooritada teise silmaga.
                </p>
                <a href="#" class="btn btn-primary btn-startTest">Alusta testiga</a>
            </div>
        </div>
    </div>
</section>

<section class="section section-2 d-none">
    <div class="d-flex flex-column bd-highlight">
        <div class="p-2 bd-highlight">
            <h2 class="mt-5">Silmatest parema silmaga.</h2>
        </div>
        <div class="p-2 bd-highlight">Kata käega oma vasak silm ning vali allolevast valikust, millist tähte ekraanil näed</div>
        <div class="letter p-2 bd-highlight align-self-center text-center mt-5 mb-3">A</div>
        <div class="p-2 bd-highlight align-self-center">
            <div class="btn-group text-center mb-5 btn-next-1" role="group" aria-label="Letters">
                <button type="button" class="btn btn-outline-primary text-dark mr-3">K</button>
                <button type="button" class="btn btn-outline-primary text-dark mr-3">A</button>
                <button type="button" class="btn btn-outline-primary text-dark mr-3">T</button>
                <button type="button" class="btn btn-outline-primary text-dark mr-3">V</button>
            </div>
        </div>
    </div>
</section>
<section class="section section-3 d-none">
    <div class="d-flex flex-column bd-highlight">
        <div class="p-2 bd-highlight">
            <h2 class="mt-5">Silmatest parema silmaga.</h2>
        </div>
        <div class="p-2 bd-highlight">Kata käega oma vasak silm ning vali allolevast valikust, millist tähte ekraanil näed</div>
        <div class="letter p-2 bd-highlight align-self-center text-center mt-5 mb-3">E</div>
        <div class="p-2 bd-highlight align-self-center">
            <div class="btn-group text-center mb-5 btn-next-2" role="group" aria-label="Letters">
                <button type="button" class="btn btn-outline-primary text-dark mr-3">7</button>
                <button type="button" class="btn btn-outline-primary text-dark mr-3">L</button>
                <button type="button" class="btn btn-outline-primary text-dark mr-3">E</button>
                <button type="button" class="btn btn-outline-primary text-dark mr-3">W</button>
            </div>
        </div>
    </div>
</section>
<section class="section section-4 d-none">
    <div class="d-flex flex-column bd-highlight">
        <div class="p-2 bd-highlight">
            <h2 class="mt-5">Silmatest parema silmaga.</h2>
        </div>
        <div class="p-2 bd-highlight">Kata käega oma vasak silm ning vali allolevast valikust, millist tähte ekraanil näed</div>
        <div class="letter p-2 bd-highlight align-self-center text-center mt-5 mb-3">8</div>
        <div class="p-2 bd-highlight align-self-center">
            <div class="btn-group text-center mb-5 btn-next-3" role="group" aria-label="Letters">
                <button type="button" class="btn btn-outline-primary text-dark mr-3">8</button>
                <button type="button" class="btn btn-outline-primary text-dark mr-3">B</button>
                <button type="button" class="btn btn-outline-primary text-dark mr-3">S</button>
                <button type="button" class="btn btn-outline-primary text-dark mr-3">P</button>
            </div>
        </div>
    </div>
</section>
<section class="section section-5 d-none">
    <div class="d-flex flex-column bd-highlight">
        <div class="p-2 bd-highlight">
            <h2 class="mt-5">Silmatest parema silmaga.</h2>
        </div>
        <div class="p-2 bd-highlight">Kata käega oma vasak silm ning vali allolevast valikust, millist tähte ekraanil näed</div>
        <div class="letter p-2 bd-highlight align-self-center mt-5 mb-3">K</div>
        <div class="p-2 bd-highlight align-self-center">
            <div class="btn-group text-center mb-5 btn-next-4" role="group" aria-label="Letters">
                <button type="button" class="btn btn-outline-primary text-dark mr-3">T</button>
                <button type="button" class="btn btn-outline-primary text-dark mr-3">K</button>
                <button type="button" class="btn btn-outline-primary text-dark mr-3">5</button>
                <button type="button" class="btn btn-outline-primary text-dark mr-3">F</button>
            </div>
        </div>
    </div>
</section>
<section class="section section-6 d-none">
    <div class="d-flex flex-column bd-highlight">
        <div class="p-2 bd-highlight">
            <h2 class="mt-5">Silmatest parema silmaga.</h2>
        </div>
        <div class="p-2 bd-highlight">Kata käega oma vasak silm ning vali allolevast valikust, millist tähte ekraanil näed</div>
        <div class="letter p-2 bd-highlight align-self-center mt-5 mb-3">D</div>
        <div class="p-2 bd-highlight align-self-center">
            <div class="btn-group text-center mb-5 btn-next-5" role="group" aria-label="Letters">
                <button type="button" class="btn btn-outline-primary text-dark mr-3">6</button>
                <button type="button" class="btn btn-outline-primary text-dark mr-3">O</button>
                <button type="button" class="btn btn-outline-primary text-dark mr-3">P</button>
                <button type="button" class="btn btn-outline-primary text-dark mr-3">D</button>
            </div>
        </div>
    </div>
</section>
<section
    class="d-none mt-2 section section-7 m-lg-5 m-xs-2 m-sm-2 m-md-4 mt-sm-2 mt-xs-2 justify-content-center">
    <div class="card card--result mt-xs-5 mt-sm-5">
        <img
            src="https://images.unsplash.com/photo-1486250944723-86bca2b15b06?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1051&q=80"
            class="card-img-top"
            alt="Results"/>
        <div class="card-body">
            <div class="wrapper text-center">
                <h5 class="card-title">Aitäh testi tegemise eest!</h5>
                <p class="card-text">
                </p>
                <a class="btn btn-primary btn-avalehele" asp-controller="Home">Tagasi avalehele</a>
            </div>
        </div>
    </div>
</section>

@section scripts
{
    <script src="js/site.js"></script>
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
@* <h1>Create</h1> *@
@* *@
@* <h4>EyeControl</h4> *@
@* <hr /> *@
@* <div class="row"> *@
@*     <div class="col-md-4"> *@
@*         <form asp-action="Create"> *@
@*             <div asp-validation-summary="ModelOnly" class="text-danger"></div> *@
@*             <div class="form-group"> *@
@*                 <label asp-for="LeftEyeResult" class="control-label"></label> *@
@*                 <input asp-for="LeftEyeResult" class="form-control" /> *@
@*                 <span asp-validation-for="LeftEyeResult" class="text-danger"></span> *@
@*             </div> *@
@*             <div class="form-group"> *@
@*                 <label asp-for="RightEyeResult" class="control-label"></label> *@
@*                 <input asp-for="RightEyeResult" class="form-control" /> *@
@*                 <span asp-validation-for="RightEyeResult" class="text-danger"></span> *@
@*             </div> *@
@*             <div class="form-group"> *@
@*                 <label asp-for="Comment" class="control-label"></label> *@
@*                 <input asp-for="Comment" class="form-control" /> *@
@*                 <span asp-validation-for="Comment" class="text-danger"></span> *@
@*             </div> *@
@*             <div class="form-group"> *@
@*                 <label asp-for="NumberOfTests" class="control-label"></label> *@
@*                 <input asp-for="NumberOfTests" class="form-control" /> *@
@*                 <span asp-validation-for="NumberOfTests" class="text-danger"></span> *@
@*             </div> *@
@*             <div class="form-group"> *@
@*                 <input type="submit" value="Create" class="btn btn-primary" /> *@
@*             </div> *@
@*         </form> *@
@*     </div> *@
@* </div> *@
@* *@
@* <div> *@
@*     <a asp-action="Index">Back to List</a> *@
@* </div> *@

