@model Domain.EyeControl.EyeControl

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>EyeControl</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LeftEyeResult)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LeftEyeResult)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RightEyeResult)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RightEyeResult)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Comment)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Comment)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumberOfTests)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumberOfTests)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.EyeControlId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
