﻿/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */


/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
}


hr {
    margin-left: 0;
    max-width: 40px;
}

/* Jumbotron (hero) */
.jumbotron {
    position: relative;
    background: url(https://images.unsplash.com/photo-1560249952-8e90192fc839?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=3150&q=80) no-repeat bottom center/cover;
}

.jumbotron:before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}

.jumbotron .container {
    padding: 75px 0;
}

.jumbotron h1,
.jumbotron .lead {
    color: #fff;
}

/* Features */
.sec-features .row:nth-of-type(n+2) {
    margin-top: 160px;
}

.sec-features .row:last-of-type {
    margin-bottom: 160px;
}

.sec-features .feature-icon {
    max-width: 150px;
}

/* Testimonials */
.sec-testimonials {
    padding-top: 128px;
    padding-bottom: 128px;
}

/* Carousel */
.carousel-indicators {
    bottom: -30px;
}

.carousel-indicators li {
    background: rgba(33, 33, 33, 0.1);
}

.carousel-indicators li:focus, .carousel-indicators li:hover {
    background: rgba(33, 33, 33, 0.5);
}

.carousel-indicators .active {
    background: rgba(33, 33, 33, 0.75);
}

.carousel-control-next,
.carousel-control-prev {
    color: #212121;
}

.carousel-control-next:focus, .carousel-control-next:hover,
.carousel-control-prev:focus,
.carousel-control-prev:hover {
    color: #111;
}

/* Footer */
.footer {
    padding-top: 24px;
    padding-bottom: 24px;
    background: #212121;
}

.footer li:nth-of-type(n+2) {
    margin-left: 8px;
}

.footer a {
    font-size: 18px;
    color: rgba(255, 255, 255, 0.5);
    transition: color .235s ease-in-out;
}

.footer a:focus, .footer a:hover {
    color: rgba(255, 255, 255, 0.25);
}
