﻿@model Data.Doctor.DoctorsData

@{
    ViewData["Title"] = "Delete";
}

<h1>Kustuta</h1>

<h3>Kindel, et sa soovid seda kustutada?</h3>
<div>
    <h4>Doctor</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Tõõtõendi number
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Certificate)
        </dd>
        <dt class="col-sm-2">
            Tõendi kehtimiskuupäev
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CertificateDate)
        </dd>
        <dt class="col-sm-2">
            Perekonnanimi
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt class="col-sm-2">
            Eesnimi
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt class="col-sm-2">
            Isikukood
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IdCode)
        </dd>
        <dt class="col-sm-2">
            Asukoht
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Address1)
        </dd>

        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Address2)
        </dd>

        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Address3)
        </dd>

        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.City)
        </dd>

        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.County)
        </dd>

        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Country)
        </dd>

        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ZipCode)
        </dd>
        <dt class="col-sm-2">
            Foto
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Photo)
        </dd>
        <dt class="col-sm-2">
            Alustamiskuupäev
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ValidFrom)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="ID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Tagasi</a>
    </form>
</div>
