﻿@model Data.Doctor.DoctorsData
@{
    ViewData["Title"] = "Details";
}

<h1>Detailid</h1>

<div>
    <h4>Arstid</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Tõõtõendi number
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Certificate)
        </dd>
        <dt class="col-sm-2">
            Tõendi kehtimiskuupäev
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CertificateDate)
        </dd>
        <dt class="col-sm-2">
            Perekonnanimi
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt class="col-sm-2">
            Eesnimi
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt class="col-sm-2">
            Isikukood
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IdCode)
        </dd>
        <dt class="col-sm-2">
            Tänav
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Address1)
        </dd>
        <dt class="col-sm-2">
            Majanumber
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Address2)
        </dd>
        <dt class="col-sm-2">
            Korteri number
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Address3)
        </dd>
        <dt class="col-sm-2">
            Linn
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.City)
        </dd>
        <dt class="col-sm-2">
            Maakond
        </dt>

        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.County)
        </dd>
        <dt class="col-sm-2">
            Riik
        </dt>

        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Country)
        </dd>
        <dt class="col-sm-2">
            Postiindeks
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ZipCode)
        </dd>
        <dt class="col-sm-2">
            Foto
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Photo)
        </dd>
        <dt class="col-sm-2">
            Alustamiskuupäev
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ValidFrom)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ID">Redigeeri</a> |
    <a asp-action="Index">Tagasi</a>
</div>
