﻿@using Visual.Extensions
@model IEnumerable<Data.Doctor.DoctorsData>

@{
    ViewData["Title"] = "Index";
    var page = "/Doctors";
}

    <h1>Arstid</h1>

@Html.HypertextLinkFor(string.Empty, new Link(Constants.CreateNewLinkTitle, $"{page}/Create"))

<table class="table">
    <thead>
        <tr>
            <th>
                Töötõendi number
            </th>
            <th>
                Tõendi kehtimiskuupäev
            </th>
            <th>
                Perekonnanimi
            </th>
            <th>
                Eesnimi
            </th>
            <th>
                Isikukood
            </th>
            <th>
                Asukoht
            </th>
            <th>
                Foto
            </th>
            <th>
                Alustamiskuupäev
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                @Html.TableRowFor(page, item.ID,
                Html.DisplayFor(modelItem => item.Certificate),
                Html.DisplayFor(modelItem => item.CertificateDate),
                Html.DisplayFor(modelItem => item.LastName),
                Html.DisplayFor(modelItem => item.FirstName),
                Html.DisplayFor(modelItem => item.IdCode),
                Html.DisplayFor(modelItem => item.Photo),
                Html.DisplayFor(modelItem => item.ValidFrom))
            </tr>
        }
    </tbody>
</table>
