﻿@using Visual.Extensions
@model IEnumerable<Data.Hospital.HospitalData>

@{
    ViewData["Title"] = "Index";
    var page = "/Hospitals";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.HospitalName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.City)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
                @Html.TableRowFor(page, item.ID,
                Html.DisplayFor(modelItem => item.HospitalName),
                Html.DisplayFor(modelItem => item.City),
                Html.DisplayFor(modelItem => item.PhoneNumber),
                Html.DisplayFor(modelItem => item.Email)
                )
        </tr>
    }
    </tbody>
</table>